.about {
    padding-top: 3.2em;
    padding-bottom: 5rem;

}

h1 {
    font-size: 3rem
}

p {
    padding-left: 12rem;
    padding-right: 12rem;
    font-size: 2rem;
}


.banner {
    /* background-color: rgb(110, 109, 109); */
    width: 100%;
    height: 14rem;
    border-radius: 1rem;
    position: center;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #33964c;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid rgb(15, 15, 15);
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: rgb(19, 17, 17);
    float: right;
    font-size: 5rem;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }