.title{
    font-weight: bolder;
    position: static;
    display: inline;
    font-size: 900;
    font-weight:bolder 900;
    text-transform: uppercase;
    font-style: bolder;
    color: black;

}
.title2{
    font-weight: bolder;
    position: static;
    display: block;
    font-size: 9900;
    font-weight:bolder 900;
    text-transform: uppercase;
    font-style: bolder;
    color: rgb(255, 255, 255);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

img {
    width: 22rem;
    height: 10rem;
    position:center;
    display: block;
    border-radius: 3rem;
    margin-left: 35vw;
    margin-bottom: 2rem;
    /* padding-bottom: 2rem; */

}

.contactpage {
    /* background-color: rgb(35, 219, 90); */
    background: url(../images/green.gif) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}