.title{
    font-weight: bolder;
    position: relative;
    display: inline-block;
    font-size: large;
    font-weight: 800;
    text-transform: uppercase;
    font-style: italic;
    color: black;
}