.title{
    font-weight: bolder;
    position: static;
    display: inline;
    font-size: 900;
    font-weight:bolder 900;
    text-transform: uppercase;
    font-style: bolder;
    color: black;
}

img {
    width: 22rem;
    height: 10rem;
    position:center;
    display: block;
    border-radius: 3rem;
    margin-left: 35vw;

}