.videos {
    padding-top: 3.2em;
    padding-bottom: 5rem;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 3rem;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.App img{
    width: 20%;
    height: 20%;


}