  /* ul {
    margin: 0;
    padding: 0;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 3px rgba(250, 250, 250, .4),
        -3px -3px 3px 3px rgba(170, 170, 170, .3);
    height: 40vh;
    width: 90vw;
    display: inline;
    flex-direction: row;
    align-self: start;
  }

  li {
    display: inline;
    flex-direction: row;
    color: green;
  }

  
  a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  } */

  body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .nav {
    overflow: hidden;
    background-color: #333;
  }
  
  .nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .nav a.active {
    background-color: #4CAF50;
    color: white;
  }